<table class="table">
    <thead>
        <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of Clientes">
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.apellido}}</td>
            <td>{{cliente.email}}</td>
            <td>
                <a class="btn btn-primary me-2">Modificar</a>
                <button class="btn btn-outline-danger" (click)="deleteClientById(cliente.id)">Borrar</button>
            </td>
        </tr>
        <tr>
            <button class="btn btn-outline-primary mt-3">+ Añadir</button>
        </tr>
    </tbody>
</table>
