<table class="table">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Password</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
        <td>{{usuario.username}}</td>
        <td>{{usuario.password}}</td>
        <td>{{usuario.email}}</td>
        <td>
          <a class="btn btn-primary me-2" [routerLink]="['/usuarios/form',{id:usuario.id}]">Modificar</a>
          <button class="btn btn-outline-danger" (click)="borrar(usuario.id)">Borrar</button>
        </td>
    </tr>
    <tr>
        <a  class="btn btn-outline-primary mt-3" [routerLink]="['/usuarios/form']">+ Añadir</a>
    </tr>
  </tbody>
</table>
